{% extends 'base.html.twig' %}

{% block title %}Nos produits | Boutique Française{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <h2>Filtrer</h2>
        {{ form(form) }}
    </div>
    <div class="col-md-9">
        <h2>Tous nos produits</h2>
        <div class="row mt-5">
            {% for product in products %}
            <div class="col-md-4 mb-5 pb-3">
                <div class="product-item text-center">
                    <a href="{{ path('app_product', { 'slug': product.slug }) }}">
                        <img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid">
                    </a>
                    <h5 class="text-danger">{{product.name}}</h5>
                    <span>{{product.subtitle}}</span>
                    <hr>
                    <span class="font-weight-bold underline">{{ product.price / 100|number_format(2) }} €</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<h1>Tous nos produits</h1>


{% endblock %}